################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/out
/.vs/WebCamCap/v16/TestStore/0
*.suo
